@charset "UTF-8";

ul.dropdown {
 background: transparent url(imagenes/box1-bottom-left.png) 0 100% no-repeat;
 font: normal 14px/normal Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

	ul.dropdown li {
	 padding: 5px 10px;
	 background-color: #172322;
	 color: #fff;
	 line-height: 22px;
	 white-space: nowrap;
	}

	ul.dropdown li.first {
	 padding-left: 15px;
	 background: transparent url(imagenes/box1-bottom2.png) 0 100% no-repeat;
	}

	ul.dropdown li.last {
	 padding-right: 15px;
	 background: transparent url(imagenes/box1-bottom2.png) 100% 100% no-repeat;
	}

	ul.dropdown li.hover,
	ul.dropdown li:hover {
	 color: #b0d730;
	}

	ul.dropdown a:link,
	ul.dropdown a:visited	{ color: #fff; text-decoration: none; }
	ul.dropdown a:hover		{ color: #b0d730; }
	ul.dropdown a:active	{ color: #0395cc; }

	ul.dropdown ul {
	 left: -21px;
	 width: 150px;
	 padding: 0 16px;
	 background: url(imagenes/box1-top.png) 50% 0 no-repeat;
	}

	ul.dropdown li.last ul {
	 left: auto;
	 right: 16px;
	}

		ul.dropdown ul li {
		 height: auto;
		 padding: 5px 15px;
		 line-height: 1.3em;
		 white-space: normal;
		}

		ul.dropdown ul li.first {
		 padding-left: 0;
		 background: #172322;
		}

		ul.dropdown ul li.last {
		 padding-bottom: 10px;
		 background: transparent url(imagenes/box1-bottom.png) 50% 100% no-repeat;
		}

		ul.dropdown ul li.first ul {
		 top: 0;
		 padding: 0 16px 0 0;
		 background-image: url(imagenes/box1-outwards-top-right.png);
		}

		ul.dropdown ul li.first li.first {
		 background-image: none;
		}

		ul.dropdown ul li.last {
		 padding-right: 0;
		}

		ul.dropdown ul li.last ul {
		 left: 100%;
		 right: auto;
		 top: -16px;
		}

		ul.dropdown ul ul {
		 top: -12px;
		 left: 100%;
		 padding: 16px 0 0;
		 background: transparent url(imagenes/box1-top-left.png) 0 0 no-repeat;
		}

			ul.dropdown ul ul li.first {
			 padding-top: 10px;
			 background: #172322 url(imagenes/box1-top-right.png) 100% 0 no-repeat;
			}

ul.dropdown form * {
 display: inline;
 float: left;
}

ul.dropdown form label {
 display: none;
}

ul.dropdown form input.text {
 width: 143px;
 height: 18px;
 padding: 2px 25px 2px 5px;
 border-width: 0;
 background: transparent url(imagenes/bg_search-field.png) 0 0 no-repeat;
 color: #969696;
 font: normal 14px/17px Tahoma, Verdana, Arial, Helvetica, sans-serif;
 vertical-align: middle;
}

ul.dropdown form input.text:focus {
 outline: none;
}

ul.dropdown form input.button {
 position: relative;
 margin: 4px 0 0 -20px;
}

ul.dropdown *.dir {
 padding-right: 20px;
 background-image: url(imagenes/nav-arrow-down.png);
 background-position: 100% 50%;
 background-repeat: no-repeat;
}

ul.dropdown-horizontal ul *.dir {
 padding-right: 15px;
 background-image: url(imagenes/nav-arrow-right.png);
 background-position: 95% 50%;
 background-repeat: no-repeat;
}
