@charset "UTF-8";

* { margin: 0; padding: 0; outline: none; }
body { padding: 50px; border-top: solid 1px #fff; background: #fff url(../images/pattern-wavy-grad.png) 0 0 repeat-x; color: #000; font: 14px/normal Tahoma, Arial, Helvetica, sans-serif; }
p { margin-bottom: 1em; }

h1,h2,h3 { margin-bottom: .5em; font-family: Arial, Helvetica, sans-serif; line-height: normal; }
h1 { margin-bottom: .5em; padding-bottom: 4px; border-bottom: solid 1px #d9d9d9; font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 180%; text-indent: 5px; letter-spacing: -1px; }
cite { float: right; }
fieldset { border: none; }
ul.classic { list-style: disc; margin-bottom: 1em; padding-left: 2em; }
div.section { clear: both; padding-top: 50px; }

form.login{
	background: #333333;
	width: 360px;
	border: 1px solid #4e4d4d;
	border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	box-shadow: inset 0 0 10px #000;
	margin: 100px auto;
}

form.login input{
	width: 280px;
	height: 35px;
	padding: 0px 10px;
	margin: 10px 30px;
	color: #6d6d6d;
	text-align: center;
}

form.login button{
	width: 135px;
	margin: 20px 0px 30px 30px;
	height: 50px;
	background: #3c3c3c;
	border: 1px solid #232323;
	color: #fff;
	box-shadow: 0px 2px 0px #000;
	-moz-box-shadow:0px 2px 0px #000;
	-webkit-box-shadow:0px 2px 0px #000;
	border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

form.login button:hover{
	background: #3a3a3a;
}

body.vimeo-com { 
background: url(imagenes/mus3.jpg) no-repeat fixed center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; }
body.vimeo-com h1 { border-bottom-color: #fff; }





